APP_NAME=CoastalRisk WebApp API
APP_ENV=development
API_HOST=127.0.0.1
API_PORT=8010
DATABASE_URL=postgresql+psycopg://postgres:postgres@127.0.0.1:5432/coastalrisk_webapp_v1
STORAGE_DIR=./storage
MODEL_DIR=./storage/models
REPORT_DIR=./storage/reports
UPLOAD_DIR=./storage/uploads
CORS_ORIGINS=http://127.0.0.1:3010,http://localhost:3010
